body{
    margin: 0;
}

/* .tag{ */
    /* background-color: grey; */
    /* padding: 10px; */
    /* background-image: url('/images/tag-photo2.jpg'); */
    /* background-image: url('/images/trinity-nguyen-xQhqS7OWEqE-unsplash_ffee19654a4c4d2ca9d5a563e2389b2a.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;    
} */
